:root {
    --dark-green-color: #00312d;
    --green-color: #3a7817;
    --light-green-color: #72bf01;
    --lemon-color: #bff202;
    --light-color: #d9d9d9;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    font-family: "poppins", sans-serif;
    background-color: var(--light-color);
  }
  
  .container {
    width: 1152px;
    margin: 0 auto;
  }

  .form-wrapper{
    width: 600px;
  }