:root {
  --dark-green-color: #00312d;
  --green-color: #3a7817;
  --light-green-color: #72bf01;
  --lemon-color: #bff202;
  --light-color: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "poppins", sans-serif;
  background-color: var(--light-color);
}

.container {
  width: 1152px;
  margin: 0 auto;
}

/* Header Section */

header nav {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 8px;
}

nav ul li a {
  font-size: 28px;
  font-weight: 400;
  color: var(--green-color);
  text-decoration: none;
  padding: 18px 62px;
  border-radius: 10px;
  border: 1px solid var(--green-color);
}

nav ul li a.btn-dark {
  color: var(--light-color);
  background-color: var(--green-color);
}

nav ul li a.btn-dark:hover {
  background-color: var(--light-green-color);
  transition: all 400ms;
}

/* main section */

main {
  margin-left: auto;
  margin-right: auto;
}

main div h1 {
  justify-content: center;
  text-align: center;
  padding: 100px 0;
}

/* main section ends here */

/* Footer Section */
#footer {
  padding: 7% 15%;
  margin-top: 100px;
  height: 380px;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--dark-green-color);
}

.social-icons {
  padding-top: 34px;
  margin: 8px;
  width: 40px;
  height: 40px;
}

.footer-nav-links {
  padding-top: 44px;
}

.nav-links {
  margin: 0 25px;
  font-size: 16px;
  font-weight: 400px;
  font-family: "Inter", sans-serif;
  color: var(--light-color);
  text-decoration: none;
}

.footer-image {
  margin-top: 44px;
  padding-bottom: 34.82px;
}